@using WebApplication1.Models.ViewModel
@model UserViewModel

<h1>User Details</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>FirstName</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>LastName</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>DateOfBirth</th>
        <td>@Model.DateOfBirth</td>
    </tr>
    <tr>
        <th>Pan</th>
        <td>@Model.Pan</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <th>MobileNumber</th>
        <td>@Model.MobileNumber</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr><tr>
        <th>Comments</th>
        <td>@Model.Comments</td>
    </tr><tr>
        <th>DepartmentRefId</th>
        <td>@Model.DepartmentRef.Name</td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-primary">Back to Listing</a>